* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden; /* Hide scroll bars */
}

/* Ensure the parent container also has the center origin */
.parent-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center center; /* Center the origin for the parent */
  position: relative; /* Allow absolute positioning of children */
}

.main-container {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center center; /* Center the origin for the child */
  position: relative;
  overflow: hidden;
}

.Left_h3,
.Right_h3,
.Right_h3_second,
.Right_h3_third,
.Right_h3_Fourth,
.Right_h3_Fifth,
.Right_h3_sixth,
.Right_h3_seventh,
.Right_h3_eight,
.Right_h3_ninth,
.Right_h3_tenth,
.Right_h3_eleven,
.Right_h3_tweleth,
.Right_h3_thirtheen {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3vw;
  font-family: "Monument Extended Bold";
  color: white;
  white-space: nowrap;
}

.heading_h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "Monument Extended Bold";
  font-size: 4vw;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  scale: (1);
}

.Left_h3 {
  left: 38%;
  opacity: 0;
}

.Right_h3 {
  left: 43%;
  opacity: 0;
}

.Right_h3_second {
  left: 43%;
  opacity: 0;
}

.Right_h3_third {
  left: 43.5%;
  opacity: 0;
}

.Right_h3_Fourth {
  left: 43.5%;
  opacity: 0;
}

.Right_h3_Fifth {
  left: 43.5%;
  opacity: 0;
}

.Right_h3_sixth{
    left: 43.5%;
  opacity: 0;
}

.Right_h3_seventh{
    left: 43.5%;
  opacity: 0;
}

.Right_h3_eight{
      left: 43.5%;
  opacity: 0;
}

.Right_h3_ninth{
        left: 43.5%;
  opacity: 0;
}

.Right_h3_tenth{
          left: 43.5%;
  opacity: 0;
}

.Right_h3_eleven{
            left: 43.5%;
  opacity: 0;
}

.Right_h3_tweleth{
              left: 43.5%;
  opacity: 0;
}

.Right_h3_thirtheen{
                left: 43.5%;
  opacity: 0;
}

.red-box {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform-origin: center center; /* Ensure the red-box scales from the center */
  transition: opacity 1s ease;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.new-component {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  opacity: 0;
  animation: fadeIn 1s forwards;
  width: 100%;
  height: 100vh;
  background-color: red;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
